/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General */

html{
	font-family:helvetica,arial,sans-serif;
	color:#444444;
}

#dashboard
{
	width:400px;
	display:inline-block;
	background-color:#FAFAFA;
	padding:20px;
	float:left;

	border-radius: 13px 0px 0px 13px; 
	-moz-border-radius: 13px 0px 0px 13px; 
	-webkit-border-radius: 13px 0px 0px 13px; 

}

	#dashboard.modifier
	{
		max-width:960px;
		min-width:600px;
		width:50%;
	}

	#dashboard.modifier #inputBlock
	{
		float:left;
		width:55%;
		margin-right:5%;
	}

	#dashboard.modifier #cadre
	{
		float:left;
		width:40%;
		margin-top:40px;
	}
	
	#dashboard.modifier #cadre img
	{
		max-width:100%;
	}

#body
{
	width:600px;
	float:left;
}

#member, #member+a
{
	display:block;
	position:relative;
	top:75px;
	width:300px;
	margin:auto;
}

#member
{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 46%, rgba(221,221,221,1) 100%, rgba(247,247,247,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(46%,rgba(255,255,255,1)), color-stop(100%,rgba(221,221,221,1)), color-stop(100%,rgba(247,247,247,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 46%,rgba(221,221,221,1) 100%,rgba(247,247,247,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 46%,rgba(221,221,221,1) 100%,rgba(247,247,247,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 46%,rgba(221,221,221,1) 100%,rgba(247,247,247,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 46%,rgba(221,221,221,1) 100%,rgba(247,247,247,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */

	padding:15px;

	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;

	-moz-box-shadow: 0px 0px 6px 0px #cfcfcf;
	-webkit-box-shadow: 0px 0px 6px 0px #cfcfcf;
	-o-box-shadow: 0px 0px 6px 0px #cfcfcf;
	box-shadow: 0px 0px 6px 0px #cfcfcf;

}

#member+a
{
	margin-top:10px;
}

#member h2
{
	font-size:18px;
	margin-bottom:18px;
}

h1+h2
{
	font-size:20px;
	margin-bottom:14px;
}


h1
{
	font-size:30px;
	margin-left:-2px;
	margin-bottom:15px;
}

#listLinks
{
	margin:30px 0px 0px 30px;
}

#listLinks+a
{
	margin:30px 0px 30px 30px;
}

article{
	max-width:560px;
	position:relative;
	padding:15px;
}

	article h3
	{
		font-size:19px;
		display:block;
		margin-bottom:16px;
		max-width: 80%;
		font-weight:normal;
	}

	article p
	{
		display:inline-block;
		line-height: 115%;
	}

	article img
	{
		display:block;
		max-width:500px;
		max-height:120px;

		margin:14px 0px;
		margin-bottom:10px;
	}

	.visit
	{
		position:absolute;
		right:20px;
		top:15px;
	}

.pair
{
	background-color:#FAFAFA;
}

	.impair
	{
		background-color:#F2F2F2;
	}

#modify
{
	background-color:#FAFAFA;

	width:30px;
	position:absolute;
	right:-34px;
	top:0px;
	padding:8px;
	padding-bottom:14px;

	border-radius: 0px 7px 30px 0px; 
	-moz-border-radius: 0px 7px 30px 0px; 
	-webkit-border-radius: 0px 7px 30px 0px; 
}

	.impair #modify
	{
		background-color:#F2F2F2;
	}

.supprimerLien, .modifierLien
{
	margin:4px 4px 6px 8px;
	display:block;
	width:19px;
	height:19px;

	background-image:url("../images/IconSet.png");
	text-indent:-9999px;
}

.modifierLien
{
	background-position: 19px 0px;
}

	.supprimerLien:hover
	{
	background-position: 0px 18px;
	}

	.modifierLien:hover
	{
	background-position: 19px 18px;
	}

#submit, #submitFinal, #updateButton, #cancelButton
{
	display:block;
	
	color:white;

	width:106px;
	padding:3px;
	background-color:#4D90FE;
	border:1px solid #3079ED;
	font-weight:bold;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor:pointer;

}

#buttons
{
	clear:both;
}

#cancelButton
{
	margin-left:10px;
	background-color: #B00516;
	border: 1px solid #960614;
}

	#cancelButton:hover
	{
		background-color: #D60B1F;
	}


#updateButton, #cancelButton
{
	display: inline-block;
	margin-top: 5px;
}

.cadre
{
	margin:15px 0px;
	height:200px;
	overflow:scroll;
}

#titleDesc
{
	display:inline;
}

#description{
	margin:15px 0px;
	font-size:13px;
	width:370px;
}

#modifierDescription
{
	margin-top:5px;
	margin-bottom:10px;
	font-size:13px;
	float:right;
}


#imageChoisie+input, #description+a+input
{
	display:block;
	margin-left:0px;
	margin-top:5px;
}

textarea
{
	display:block;
	margin-bottom:20px;
	width:330px;
}

#submitFinal:hover, #updateButton:hover, #submit:hover, #imageChoisie+input
{
	background-color:#5e9bfe;
}

label, h3, #deco, #decoInfo
{
	font-size:13px;
	font-weight:bold;
	display:block;
	margin-bottom:4px;
}

#decoTitle
{
	margin-left:10px;
	font-size:15px;
}

h3
{
	margin-top:3px;
	margin-bottom:8px;
}

#imageChoisie
{
	margin-bottom:10px;
	max-width:370px;
}

input
{
	margin-bottom:20px;
	width:330px;
}

#member input
{
	width:260px;
}

#mdp+br+input
{
	color:white;

	width:120px;
	padding:5px;
	background-color:#4D90FE;
	border:1px solid #3079ED;
	font-weight:bold;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position:relative;
	top:5px;
	cursor:pointer;
}

#mdp+br+input:hover
{
	background-color:#5e9bfe;
}

a
{
	text-decoration: none;
	color:#3079ED;
}

a:hover
{
	text-decoration: underline;
	color:#4D90FE;
}

#anotherLink
{
	display:block;
	margin:10px 0;
}

#signUp
{
	font-size:14px;
	position:absolute;
	bottom:30px;
	right:15px;
}

#imagePrev, #imageNext
{
	display: none;
}

#imagePrev:hover, #imageNext:hover
{
	display: none;
	cursor:pointer;
}

#innerBox
{
	background-color:#F2F2F2;
	margin:5px;
	padding:10px;
	width:320px;
	display: inline-block;
}

#innerBox a
{
	padding:1px;
}

#buttons a
{
	text-decoration: none;
	font-weight: bold;
	font-size: 15px;
	padding: 5px;
	text-align: center;
}

/*MediaQueries*/

@media only screen and (max-width : 680px){

	#body
	{
		width:100%;
	}

	#dashboard
	{
		border-radius: 13px 0px 0px 0px; 
		-moz-border-radius: 13px 0px 0px 0px; 
		-webkit-border-radius: 13px 0px 0px px; 

	}

	#dashboard
	{
		width:80%;
		max-width:400px;
	}

		#dashboard.modifier
		{
			min-width: 360px;
		}

			#dashboard.modifier #cadre
			{
				float:none;
			}

			#dashboard.modifier textarea
			{
				width:100%;
				min-width: 300px;
			}

			#dashboard.modifier input
			{
				width:100%;
				min-width: 300px;
			}

			#dashboard.modifier #cadre img 
			{
				min-width: 300px;
			}

	#dashboard.modifier #updateButton, #dashboard.modifier #cancelButton
	{
		width:150px;
		padding:3px;
		font-size:18px;
		font-weight:normal;
		margin:5px auto;

		background-image: linear-gradient(bottom, rgb(61,128,235) 25%, rgb(77,145,254) 64%);
		background-image: -o-linear-gradient(bottom, rgb(61,128,235) 25%, rgb(77,145,254) 64%);
		background-image: -moz-linear-gradient(bottom, rgb(61,128,235) 25%, rgb(77,145,254) 64%);
		background-image: -webkit-linear-gradient(bottom, rgb(61,128,235) 25%, rgb(77,145,254) 64%);
		background-image: -ms-linear-gradient(bottom, rgb(61,128,235) 25%, rgb(77,145,254) 64%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.25, rgb(61,128,235)),
			color-stop(0.64, rgb(77,145,254))
		);

	}

	#dashboard.modifier #cancelButton
	{
		background-image: linear-gradient(bottom, rgb(133,7,19) 6%, rgb(176,5,22) 53%);
		background-image: -o-linear-gradient(bottom, rgb(133,7,19) 6%, rgb(176,5,22) 53%);
		background-image: -moz-linear-gradient(bottom, rgb(133,7,19) 6%, rgb(176,5,22) 53%);
		background-image: -webkit-linear-gradient(bottom, rgb(133,7,19) 6%, rgb(176,5,22) 53%);
		background-image: -ms-linear-gradient(bottom, rgb(133,7,19) 6%, rgb(176,5,22) 53%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.06, rgb(133,7,19)),
			color-stop(0.53, rgb(176,5,22))
		);
	}

		#dashboard.modifier #updateButton:hover
		{
			background-image: linear-gradient(bottom, rgb(65,136,242) 25%, rgb(99,161,255) 64%);
			background-image: -o-linear-gradient(bottom, rgb(65,136,242) 25%, rgb(99,161,255) 64%);
			background-image: -moz-linear-gradient(bottom, rgb(65,136,242) 25%, rgb(99,161,255) 64%);
			background-image: -webkit-linear-gradient(bottom, rgb(65,136,242) 25%, rgb(99,161,255) 64%);
			background-image: -ms-linear-gradient(bottom, rgb(65,136,242) 25%, rgb(99,161,255) 64%);

			background-image: -webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0.25, rgb(65,136,242)),
				color-stop(0.64, rgb(99,161,255))
			);
		}

		#dashboard.modifier #cancelButton:hover
		{
			background-image: linear-gradient(bottom, rgb(153,14,28) 6%, rgb(207,16,35) 53%);
			background-image: -o-linear-gradient(bottom, rgb(153,14,28) 6%, rgb(207,16,35) 53%);
			background-image: -moz-linear-gradient(bottom, rgb(153,14,28) 6%, rgb(207,16,35) 53%);
			background-image: -webkit-linear-gradient(bottom, rgb(153,14,28) 6%, rgb(207,16,35) 53%);
			background-image: -ms-linear-gradient(bottom, rgb(153,14,28) 6%, rgb(207,16,35) 53%);

			background-image: -webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0.06, rgb(153,14,28)),
				color-stop(0.53, rgb(207,16,35))
			);
		}

	#dashboard.modifier #buttons a
	{
		width:290px;
		padding: 4px;
	}


	#listLinks 
	{
		margin-left:5px;
	}

	input
	{
		width:80%;
		max-width:330px;
	}

	article, .pair, .impair
	{
		width:80%;

	}

	#submit, #submitFinal
	{
		width:150px;
		padding:3px;
		font-size:18px;
		font-weight:normal;
		margin:auto;

		background-image: linear-gradient(bottom, rgb(61,128,235) 25%, rgb(77,145,254) 64%);
		background-image: -o-linear-gradient(bottom, rgb(61,128,235) 25%, rgb(77,145,254) 64%);
		background-image: -moz-linear-gradient(bottom, rgb(61,128,235) 25%, rgb(77,145,254) 64%);
		background-image: -webkit-linear-gradient(bottom, rgb(61,128,235) 25%, rgb(77,145,254) 64%);
		background-image: -ms-linear-gradient(bottom, rgb(61,128,235) 25%, rgb(77,145,254) 64%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.25, rgb(61,128,235)),
			color-stop(0.64, rgb(77,145,254))
		);

	}

		#submit:hover, #submitFinal:hover
	{
		background-image: linear-gradient(bottom, rgb(65,136,242) 25%, rgb(99,161,255) 64%);
		background-image: -o-linear-gradient(bottom, rgb(65,136,242) 25%, rgb(99,161,255) 64%);
		background-image: -moz-linear-gradient(bottom, rgb(65,136,242) 25%, rgb(99,161,255) 64%);
		background-image: -webkit-linear-gradient(bottom, rgb(65,136,242) 25%, rgb(99,161,255) 64%);
		background-image: -ms-linear-gradient(bottom, rgb(65,136,242) 25%, rgb(99,161,255) 64%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.25, rgb(65,136,242)),
			color-stop(0.64, rgb(99,161,255))
		);
	}

}

@media only screen and (max-width : 550px){
	.visit
	{
		position:relative;
		top:-10px;
		left:0px;
	}

	#description
	{
		width:100%;
		max-width: 370px;
	}

	.pair p, .impair p
	{
		margin:5px 0px;
		display:block;
	}

	#innerBox
	{
		width:75%;
		max-width: 320px;
	}

		#innerBox a img
		{
			max-width:80px;
		}

	#imageNext, #imagePrev
	{
		width:10px;
		height:24px;
	}

}

@media only screen and (max-width : 360px){
	#submit, #submitFinal
	{
		width:200px;
		padding:5px;
		font-size:22px;
		font-weight:normal;
		margin:auto;

		background-image: linear-gradient(bottom, rgb(61,128,235) 25%, rgb(77,145,254) 64%);
		background-image: -o-linear-gradient(bottom, rgb(61,128,235) 25%, rgb(77,145,254) 64%);
		background-image: -moz-linear-gradient(bottom, rgb(61,128,235) 25%, rgb(77,145,254) 64%);
		background-image: -webkit-linear-gradient(bottom, rgb(61,128,235) 25%, rgb(77,145,254) 64%);
		background-image: -ms-linear-gradient(bottom, rgb(61,128,235) 25%, rgb(77,145,254) 64%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.25, rgb(61,128,235)),
			color-stop(0.64, rgb(77,145,254))
		);
	}

		#submit:hover, #submitFinal:hover
	{
		background-image: linear-gradient(bottom, rgb(65,136,242) 25%, rgb(99,161,255) 64%);
		background-image: -o-linear-gradient(bottom, rgb(65,136,242) 25%, rgb(99,161,255) 64%);
		background-image: -moz-linear-gradient(bottom, rgb(65,136,242) 25%, rgb(99,161,255) 64%);
		background-image: -webkit-linear-gradient(bottom, rgb(65,136,242) 25%, rgb(99,161,255) 64%);
		background-image: -ms-linear-gradient(bottom, rgb(65,136,242) 25%, rgb(99,161,255) 64%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.25, rgb(65,136,242)),
			color-stop(0.64, rgb(99,161,255))
		);
	}

}
